<mat-dialog-content>
  
  <div class="card card-warning">
    
    <div class="card-header">
    	
    	<h2 class="card-title mb-0">Edit Category</h2>
        <button type="button" class="close" mat-dialog-close >&times;</button>

    </div>

    <form
    	autocomplete="off"
      	[formGroup]="f"
      	(ngSubmit)="editCategory()">

	    <div class="card-body">

            <ng-container *ngIf="!loadData">
	    	
    	    	<!-- Icon -->
                <div class="form-group">
                	
                	<label for="InputIcon">Icon (<a href="https://linearicons.com/free" target="_blank">Available icons</a>)</label>

                    <div class="input-group">

                    	<input 
                    	type="text" 
                    	id="InputIcon"
                    	class="form-control" 
                    	placeholder="Icon"
                    	formControlName="icon"
                    	[ngClass]="{'is-invalid': invalidField('icon')}"
                        (change)="viewIcon($event)">

                        <div class="input-group-append">
                            <div class="input-group-text">
                                <div [innerHTML]="iconView"></div>
                            </div>
                        </div>

                    </div>

                	<span class="invalid-feedback">Please provide a icon</span>

                </div>

                <!-- Image -->
                <div class="form-group">
                	
                	<label for="customFile">
                		<img *ngIf="!imgTemp" src="../../../../../assets/img/categories/170x170.jpg" class="img-fluid">
                        <img *ngIf="imgTemp" [src]="imgTemp" class="img-fluid">
                	</label>

                	<div class="custom-file">

                		<input 
                        type="file" 
                        class="custom-file-input" 
                        id="customFile" 
                        formControlName="image"
                        [ngClass]="{'is-invalid': invalidField('image')}"
                        (change)="validateImage($event)">


                        <span class="invalid-feedback"> Please provide a image</span>

                		<label class="custom-file-label" for="customFile" *ngIf="!image.value">Choose Image</label>
                        <label class="custom-file-label" for="customFile" *ngIf="image.value">{{image.value}}</label>

                        <small class="mt-2">170px * 170px size | jpg or png format</small>

                	</div>
    	
                </div>

                <!-- Name -->
                <div class="form-group">
                 	
                	<label for="InputName">Name</label>

                	<input 
                	type="text" 
                	id="InputName" 
                	class="form-control" 
                	placeholder="Name"
                	value="{{nameView}}"
                	readonly
                	>

                </div>

                <!-- Url -->
                <div class="form-group">
                 	
                	<label for="InputUrl">Url</label>

                	<input 
                	type="text" 
                	id="InputUrl" 
                	class="form-control" 
                	placeholder="Url"
                    value="{{urlInput}}"
                    readonly>

                </div>

                <!-- Title List -->
                <div class="form-group">
                    
                   <label for="InputUrl">Title List</label>

                	<input 
                	type="text" 
                	class="form-control" 
                    value="{{titleView}}"
                    readonly>

                </div>  	    

            </ng-container>

            <div *ngIf="loadData" class="overlay">
                <i class="fas fa-2x fa-sync-alt fa-spin"></i>
            </div>

        </div>

	    <div class="card-footer">
	    	
	    	
	    	<button mat-dialog-close class="btn btn-secondary">Close</button>
	    	<button  type="submit" class="btn btn-warning  float-right">Save</button>

	    </div>

    </form>


  </div> 

</mat-dialog-content>
